theme = "awesome-identity"
enableGitInfo = true
enableRobotsTXT = true
disableKinds = ["taxonomy"]

{%- set portrait = "/images/profile.jpg" %}
{%- set firstname =  "Théo" %}
{%- set lastname =  "Rey" %}

{%- if 'https://' in CNAME %}
baseURL = "{{CNAME}}"
{%- else %}
baseURL = "https://{{CNAME}}"
{%- endif %}

{%- if defaultLang %}
DefaultContentLanguage = "{{ defaultLang }}"
{%- else %}
DefaultContentLanguage = "en"
{%- endif %}

[languages]
  [languages.en]
    title = "{{firstname}} {{lastname}} - SRE"
    languageName = "English"
    weight = 1
  [languages.fr]
    title = "{{firstname}} {{lastname}} - SRE"
    languageName = "French"
    weight = 2

## Profile Configurations
{% set profileBase -%}
  portrait = "{{portrait}}"
  firstname = "{{firstname}}"
  lastname = "{{lastname}}"
{%- endset -%}

[languages.en.params.profile]
  {{ profileBase }}
  title = "Site Reliability Engineer @ Swan"
  bio = """Focused on reliability, automation, cloud, and Kubernetes, with a strong drive to automate everything. I care a lot about network optimization, performance, and cost efficiency.

  I enjoy building homelabs, developing hardware, working with microcontrollers, and building solid IaC and observability foundations.
  """

[languages.fr.params.profile]
  {{ profileBase }}
  title = "Ingénieur SRE @ Swan"
  bio = """Orienté fiabilité, automatisation, cloud et Kubernetes, avec une vraie volonté d’automatiser tout ce qui peut l’être. J’accorde beaucoup d’importance à l’optimisation réseau, aux performances et aux coûts.

  J’aime monter des homelabs, développer des projets hardware, travailler avec des microcontrôleurs, et poser de solides bases en IaC et observabilité.
            """

## Contacts Configurations
[params.contacts]
  email = "contact@reyth.dev"
  github = "Blamas"
  gitlab = "Blamas"
  linkedin = "reyth"

## Actions Configurations
{%- set lastestProjects = "https://github.com/Blamas?tab=repositories" %}
[[languages.en.params.actions]]
  name = "Review My CV"
  url = "https://docs.reyth.dev/cv.pdf"
[[languages.en.params.actions]]
  name = "Latest projects"
  url = "{{lastestProjects}}"

[[languages.fr.params.actions]]
  name = "Voir mon CV"
  url = "https://docs.reyth.dev/cv_fr.pdf"
[[languages.fr.params.actions]]
  name = "Derniers projets"
  url = "{{lastestProjects}}"

## Meta Configurations (HTTP Meta tags & OpenGraph)
{% set metaBase -%}
  keywords = "{{lastname}}, {{firstname}}, SRE, Site Reliability, Kubernetes"
  images = [
    "{{portrait}}"
  ]
{%- endset -%}

[languages.en.params.meta]
  description = "Site Reliability Engineer at Swan"
  {{ metaBase }}

[languages.fr.params.meta]
  description = "Ingénieur SRE chez Swan"
  {{ metaBase }}

## Footer Configurations
[params.footer]
  copyright = "© {{year}} Théo Rey. [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/)."
  poweredBy = true
